#shelter-container-signup {
  margin-top: -10rem;
  height: 45rem;
}

.signup-form-shelter {
  margin-top: 22rem;
  margin-left: 60rem;
  background: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  border: 2px solid #ffffff;
  width: 45%;
  height: 55%;
  color: rgb(255, 255, 255);
  padding: 30px 50px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

#shelter-label {
  color: #ffffff;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

#shelter-submit {
  margin-top: 2rem;
  margin-left: 39%;
  border: 2px solid rgba(163, 92, 0, 0.685);
  border-radius: 10px;
  background-color: #00000079;
  color: rgb(255, 0, 0);
  padding: 2px;
  font-size: 1vw;
  width: 10rem;
  height: 2rem;
}
#snow {
  margin-top: -15rem;
  margin-left: 0rem;
}
.shelter-form-control {
  font-size: 20px;
}
#shelter-label {
  font-size: 1vw;
}
#title-shelter {
  text-align: center;
  font-size: 2rem;
}
#snowfall {
  margin-top: -15rem;
}
