body {
  background-color: black;
}
.shelter-container {
  margin-top: -10rem;
  width: 100rem;
  height: 100%;
}

h1 {
  border-bottom: 1px solid white;
  color: #fdfdfd;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

.shelter-dogs-form {
  margin-left: 60rem;
  margin-top: 8rem;
  background: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  border: 2px solid #ec0da2;
  width: 45%;
  height: 65%;
  color: rgb(255, 255, 255);
  padding: 30px 50px;
}

.profile-form-control {
  border: 1px solid #d9d9d9;
  font-size: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.profile-form-label {
  color: #ffffff;
  display: block;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  margin-bottom: 5px;
}

.submitButton {
  padding: 10px;
  background-color: #6976d9;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px 0px;
}

.shelter-profile-data {
  background: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  border: 2px solid #ec0da2;
  width: 45%;
  margin-left: 60rem;
  margin-top: 1rem;
  color: white;
  text-align: center;
}

#doggy-data {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.692);
  border-radius: 10px;
  /* border: 2px solid #ec0da2; */
  width: 70%;
  margin-top: 1rem;
  margin-left: 56rem;
  margin-bottom: 2rem;
  color: white;
  padding: 20px;
}

.profile-video {
  margin-top: 4rem;
  width: 50%;
  background-color: black;
}

.username {
  color: #ec0da2;
  margin-left: 80rem;
  margin-top: 3rem;
  text-decoration: none;
}

.dogs-container {
  width: 20rem;
  height: 20rem;
}

#profile-form-button {
  margin-top: 10px;
  margin-left: 39%;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #00000079;
  color: pink;
  padding: 2px;
  font-size: 1vw;
  width: 10rem;
  height: 2rem;
}
#edit-user-data {
  margin-top: 10px;
  margin-bottom: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #00000079;
  color: pink;
  padding: 2px;
  font-size: 1vw;
  width: 10rem;
  height: 2rem;
}

#profile-dog-title {
  color: white;
  margin-left: 77rem;
  margin-top: 2rem;
}

#your-dogs {
  margin: 1rem;
  border: 2px solid #ec0da2;
  border-radius: 10px;
  width: 15rem;
  height: 11rem;
  padding: 5px;
}
