h1 {
  border-bottom: 1px solid white;
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

/* .login-form-walker,
    .signup-form-walker, */
.volunteer-container {
  margin-top: -10rem;
  height: 50rem;
}
.volunteer-form-container {
  margin-top: 20rem;
  background: rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  border: 2px solid #e5f744;
  width: 45%;
  height: 50%;
  color: rgb(255, 255, 255);
  padding: 30px 50px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  color: #ffffff;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

#vol-submit {
  margin-top: 2rem;
  margin-left: 39%;
  border: 2px solid rgb(238, 5, 168);
  border-radius: 10px;
  background-color: #00000079;
  color: rgb(238, 5, 168);
  padding: 2px;
  font-size: 1vw;
  width: 10rem;
  height: 2rem;
}
#video {
  margin-top: -10rem;
  margin-left: 56rem;
}
.form-control-volunteer {
  font-size: 20px;
}
#label-vol {
  font-size: 1vw;
}
.title-vol {
  text-align: center;
  font-size: 2rem;
}
